@media only screen and (max-width: 992px) {
	.profile {
		flex-direction: column-reverse;
	}
	.profile__main {
		width: 100%;
		text-align: center;
	}
	.main-content {
		display: block;
	}
	.main-content__sidebar {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.nav-toggle {
		display: block;
	}
	.main-nav {
		display: flex;
		flex-direction: column-reverse;
	}
	.main-nav__list {
		display: flex;
		flex-direction: column;
		height: 0;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		transition: .3s;
	}
	.active-menu .main-nav__list {
		padding: 15px 0 !important;
		height: 100vh;
		opacity: 1;
		visibility: visible;
		z-index: 1;
	}
	.main-nav__item {
		width: 100%;
	}
	.main-nav__link {
		padding: 5px 0;
		display: block;
		text-align: center;
	}
}
@media only screen and (max-width: 768px) {
	.section {
		padding: 25px 0;
	}
	h2,
	.h2 {
		font-size: 32px;
	}
	h2,
	.h2,
	h3,
	.h3 {
		text-align: center;
	}
	.header {
		padding: 15px 0;
	}
	.profile__title {
		font-size: 40px;
	}
	.profile__descr {
		font-size: 26px;
	}
	.main-content__sidebar {
		flex-direction: column;
	}
	.footer {
		padding: 15px 0;
	}
	.footer__flex {
		flex-direction: column;
		align-items: center;
	}
	.footer__copy {
		margin: 30px 0;
	}
}