body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Open Sans',sans-serif;
}
pre {
	margin: 25px 0;
	padding: 10px 15px;
	background: #131414;
	color: #fff;
	border-radius: 10px;
}
a {
	color: inherit;
	text-decoration: none;
	transition: .3s;
}
a:hover {
	color: #608acd;
}
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.section {
	padding: 40px 0;
}
h2, 
.h2 {
	margin-bottom: 20px;
	font-size: 46px;
	text-transform: uppercase;
}
.h3 {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
}
.svg-icon {
	width: 40px;
	height: 40px;
	fill: #000;
}
/* header */
.header {
	padding: 30px 0;
	-webkit-box-shadow: 0px 1px 10px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 10px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 10px -5px rgba(0,0,0,0.75);
}
/* header */
/* profile */
.profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.profile__main {
	width: 50%;
}
.profile__title {
	font-size: 64px;
}
.profile__descr {
	font-size: 32px;
}
.profile__img {
	width: 50%;
	display: flex;
	justify-content: center;
}
.profile__img img {
	width: 300px;
}
/* end profile */
/* main-content */
.main-content {
	display: flex;
	margin: 0 -15px;
}
.main-content > * {
	padding: 0 15px;
}
.main-content__sidebar {
	width: 40%;
}
/* end main-content */
/* contacts */
.contacts__item {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 50px;
}
.contacts__icon {
	transition: .3s;
}
.contacts__icon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	transition: .3s;
}
.contacts__link {
	padding: 10px 0;
	color: #000;
	text-decoration: none;
}
.contacts__link:hover .contacts__icon {
	fill: #608acd;
}
/* end contacts */
/* skills */
.skills .skills__list {
	list-style-type: disc;
	padding-left: 40px;
}
/* end skills */
/* footer */
.footer {
	padding: 30px 0;
	-webkit-box-shadow: 0px -1px 10px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 10px -3px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 10px -3px rgba(0,0,0,0.75);
}
.footer__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__rs-school {
	width: 80px;
}
/* end footer */