body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Open Sans',sans-serif;
}
pre {
	margin: 25px 0;
	padding: 10px 15px;
	background: #131414;
	color: #fff;
	border-radius: 10px;
}
a {
	color: inherit;
	text-decoration: none;
	transition: .3s;
}
a:hover {
	color: #608acd;
}
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.section {
	padding: 40px 0;
}
/* header */
.header {
	padding: 30px 0;
	-webkit-box-shadow: 0px 1px 10px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 10px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 10px -5px rgba(0,0,0,0.75);
}
/* header */
/* profile */
.profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.profile__main {
	width: 50%;
}
.profile__title {
	font-size: 64px;
}
.profile__descr {
	font-size: 32px;
}
.profile__img {
	width: 50%;
	display: flex;
	justify-content: center;
}
.profile__img img {
	width: 300px;
}
/* end profile */
/* footer */
.footer {
	padding: 30px 0;
	-webkit-box-shadow: 0px -1px 10px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 10px -3px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 10px -3px rgba(0,0,0,0.75);
}
.footer__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__rs-school {
	width: 80px;
}
/* end footer */